/* Header part style */
.nav-wrapper{
    background: #0f3057;
}

.head-text{
   
    margin-left: 50px;
    padding-top: 100px;
   
}
.head-text h1 {;font-size: 55px;}

.head-text span {
    color: #d7385e;
    font-weight: 900;
}

.head-text h3 {
   
    font-size: 30px;
}
.btns{
    color: white;
    font-size: 20px;
    background: tomato;
    padding: 5px 20px;
    border-radius: 10px;
}
.btnk{
    color:white;
    font-size: 20px;
    background: orange;
    padding:5px 20px;
    margin: 0 5px;
}

header{
    margin-bottom: 100px;
    overflow: hidden;
}
/* End of Header part */

/* about me sectio style */
.about-img{
    width: 95%;
}
.about h1{
    color:#28df99;
    letter-spacing: 3px;
}
.about{
    margin-bottom: 50px;
   
}

/* services section */
.services{
    padding-bottom: 100px;
    background:#132743;
}
.service-card i {
    font-size: 60px;
    padding: 10px;
    color:orange ;
}
/* services section */
.service-card {
   
    box-shadow: 5px 5px 10px;
    background:#de4463;
    padding: 10px;
}
.service-card:hover{
    transform: scale(1.1);
    transition: .3s;
    background:#590995;
}
.services h1{
    padding: 50px 0;
    color: #28df99;
    letter-spacing: 5px;
}
/* counter section */
.single-count i{
    font-size: 40px;
    color: #2ec1ac;
    padding: 10px;
}
.single-count h3{
  color: green;
}
.counter{
    background:linear-gradient(#00000075,#00000073),url(img/head/pexels-bongkarn-thanyakij-3774023.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0;
}
.count{
    color: #ffc93c;
}
/* temam section */
.card{
    box-shadow: 5px 5px 5px tomato;
}
.team-section{
    padding-bottom: 50px;
    background: #d7385e;
}
.team-section h1{
    color:#28df99;
}
footer{
    background: #132743;
    color: white;
}
